@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-dark
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    font-family: Roboto,sans-serif;
    scroll-padding-top: 4rem;
    @apply text-base m-0 bg-secondary text-secondary bg-dark scroll-smooth
    lg:mr-16 lg:mt-0 lg:scroll-pt-0 mt-16 scroll-pt-16
}

body {
    @apply m-0 p-0 antialiased text-base
}

.portfolio {
    @apply container mx-auto
}

section {
    @apply min-h-screen h-full flex flex-col text-left p-8
}

.section-title {
    @apply font-extrabold text-5xl mb-12
}

.work-example-container {
    @apply grid gap-3 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1
}

article {
    @apply w-full shadow-lg bg-light p-6 border-t-8 border-primary text-left lg:h-full
}

article > h3 {
    @apply font-light text-sm
}

article > h1 {
    @apply font-bold text-xl
}

article > p {
    @apply py-4
}

.navbar {
    @apply fixed top-0 right-0 w-screen h-16 m-0 flex-row
    bg-primary justify-between lg:hidden flex items-center
}

.navbar .sidebar-avatar-container {
    @apply pr-5 pl-5
}

.navbar-links {
    @apply fixed w-full bg-light p-4 text-center
}

.navbar-links a {
    @apply block pt-4 pb-4 text-lg font-bold m-auto
}

.navbar-icon {
    @apply pr-5 pl-5 font-bold text-2xl
}

.sidebar {
    @apply fixed top-0 right-0 h-screen w-16 m-0 flex-col bg-primary
    shadow-md justify-between lg:flex hidden
}

.sidebar-avatar-container {
    @apply pt-4 pb-4 text-center bg-light text-secondary
}

.sidebar-avatar-text {
    font-family: 'Fira Sans', sans-serif;
    @apply text-2xl font-semibold
}

.sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-6 mb-6
    mx-auto shadow-lg bg-light text-secondary rounded-3xl transition-all
}

.sidebar-icon:hover {
    @apply hover:bg-white hover:text-light hover:rounded-xl
}

.sidebar-social-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-1 mb-1
    mx-auto text-secondary transition-all
}

.sidebar-social-icon:hover {
    @apply hover:text-light
}

.sidebar-label {
    @apply absolute w-auto p-2 m-2 min-w-max right-16
    rounded-md shadow-md bg-primary text-secondary transition-all
    duration-100 scale-0 origin-right font-bold text-sm
}